*{
    margin: 0;
}

header{
    background-color: #021633;
    display: flex;
    justify-content: space-around;
    color: whitesmoke;
}

#container{
    background-color: #13243b;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

img{
    width: 300px;
    height: 300px;
}

button{
    height: 20px;
    width: 300px;
}

h2{
    color: whitesmoke;
}
